.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 1.1em auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.header {
  background-color: #385a8a;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}

.shelter-card {
  animation: fade-in 0.5s ease-out;
}

.card-title{
  font-size: 1.2rem;
}

.card-text{
  font-size: 1.4rem;
}

.shelter{
  width: 90%;
}

.shelter-name-logo{
  display: flex;
  font-size: 1.3rem;
}

.main-information{
  width: 90%;
  margin: auto;
  padding: 20px;
}

.shelter-info{
  display: flex;
}

.logo {
  vertical-align: middle;
  margin-right: 10px;
}

.content-shelter {
  vertical-align: middle;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

