body{
  background-color: #f2f2f2;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Nav Bar's CSS */
nav {
  margin-top: -1.2em;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav ul:first-child {
  margin-left: 1em;
}

/* Shelter's CSS */
.container-shelters {
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  display: grid;
  grid-gap: 20px;
}

.container-shelter {
  width: 100%;
  margin: auto;
}

.container-details{
  width: 95%;
  display: block;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


.header {
  background-color: #2359a5;
  text-shadow: 3px 2px 4px rgba(1, 1, 1, 0.5);
  font-size: 3rem;
  padding: 40px 20px;
  text-align: center;
  color: white;
}


.title {
  font-size: 4ren;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.header h2{
  font-size: 4rem;
  font-weight: 600;
}

.description {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}

/* Cards CSS */

.shelter-card {
  animation: fade-in 1s ease-out;
}

.card-title{
  font-size: 1.2rem;
}

.card-text{
  font-size: 1.4rem;
}

.shelter{
  width: 90%;
}

.shelter-name-logo{
  display: flex;
  font-size: 1.3rem;
}

.title{
  
  font-size: 4rem;
}

/*Details of a card*/
.main-information{
  width: 100%;
  margin: auto;
  padding: 20px;
}

.shelter-info{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
}

.logo {
  vertical-align: middle;
  margin-right: 10px;
}

.content-shelter {
  vertical-align: middle;
}

/* Filter's CSS*/

.shleter-filter{
  display: flex;
  width: 50%;
  padding-bottom: 15px;
  float: right;
}

.shleter-filter input{
  height: 2rem;
}

.shleter-filter button{
  height: 2rem;
}

.shleter-filter p{
  font-size: 1.2rem;
  padding-right: 10px;
}

.form-control{
  width: 10%;
  margin-right: 5px;
}


/* Cards effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Shelter Form */
.form-group {
  margin-top: 1em;
}