.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Nav Bar's CSS */

.navbar-container{
  display: flex;
}

.img-navbar{
  float: left;
  }
  

.navbar-container nav {
  background-color: transparent !important;
  width: 100%;
}

.navbar-container nav ul{
  text-align: right;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

nav ul:first-child {
  margin-left: 1em;
}



/* Shelter's CSS */
.container-shelters {
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  display: grid;
  grid-gap: 20px;
}

.container-shelter {
  width: 100%;
  margin: auto;
}

.container-details{
  width: 95%;
  display: block;
  margin: auto;
  text-align: -webkit-center;
}


.header {
  text-shadow: 3px 2px 4px rgba(1, 1, 1, 0.5);
  font-size: 3rem;
  padding: 20px 20px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  border-radius: 0.2rem;
}


.title {
  font-size: 4ren;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.header h2{
  font-size: 4rem;
  font-weight: 600;
}

.description {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}

/* Cards CSS */

.shelter-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 1s ease-out;
  transition: transform 0.2s ease-in-out; /* add a transition effect */
 
}


.shelter-card:hover {
  transform: scale(1.1); /* add the hover effect */
}
#card-header{
  background-color: #a9b9cf;
  
}
.card-title{
  font-size: 1.2rem;
  display: inline;
  
}

.card-text{
  font-size: 1.2rem;
  margin-top: 5px;
  
  
  
}


.shelter{
  width: 90%;
}

.shelter-name-logo{
  width: 15%;
  float: left;
  margin-top: 5px;
}

.shelter-name-title {
  font-size: 1.3rem;
  margin-top: 5px;
}

.title{
  
  font-size: 4rem;
}

/*Details of a card*/


/* Filter's CSS*/

.shleter-filter{
  display: flex;
  width: 50%;
  padding-bottom: 15px;
  float: right;
}

.shleter-filter input{
  height: 2.5rem;
}

.shleter-filter button{
  height: 2.5rem;
}

.shleter-filter p{
  font-size: 1.2rem;
  padding-right: 10px;
}

.form-control{
  width: 10%;
  margin-right: 5px;
}

/*Maps*/
.container-maps{
  width: 90%;
  margin: auto;
  padding: 20px;
}

/* Cards effect */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Shelter Form */
.form-group {
  margin-top: 1em;
}

/*About*/
.about-container{
  text-align: center;
}

.btn-submit-form{
  margin-top: 20px;
  text-align: center;
}


.shelter-card-form{
  border: 1px solid black;
  margin-top:2%;
  border-radius: 0.3rem;
}
.form-group{
  margin-left: 20px;
  margin-right: 20px;
}


#btn{
  margin-top: 10px;
  background-color: rgb(192, 136, 31);
  color:white;
  margin-left: 5px;
  border-radius: 0.3rem;
}
#btn:hover {
  background-color: rgb(52, 75, 148);
}

#btn-reset{
  margin-top: 10px;
  background-color: rgb(100, 117, 115);
  color:white;
  margin-left: 5px;
  border-radius: 0.3rem;
}
#search{
  margin-top: 10px;
 
}
#btn-details{
  background-color: rgb(52, 75, 148);
  padding:0.4em;
  font-size: 18px;
  border-radius: 0.3rem;
  
  
}
#btn-details:hover{
  background-color: #be800b;
}