.container-comments{
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  
}
.comment{
  background-color: #e6e3e3;
  border-radius: 0.5rem;
}

.comment-form {
    /*display: flex;
    /*flex-direction: column;*/
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    
  }
  
  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  button[type="submit"] {
    display: block;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #ec9d0a;
  }

  .card-comment{
    background-color: rgb(230, 244, 247);
    padding: 2px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    

  }
  P{
    margin-left: 20PX;
    margin-top: 20PX;
  }
  .date{
    font-size: 12px;
  }
  .name{
    font-size: 15px;
    margin-top: 10px;
    color: rgb(77, 154, 241);
  }